@import url("https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:wght@400;500;600;700&display=swap");

body {
  font-family: "Barlow Semi Condensed", sans-serif;
}

.alert {
  padding: 0.5rem;
}

.form-wrap h1,
.form-wrap .form-label {
  font-weight: 600;
}
.navbar {
  background-color: #007BFF; /* Blue background color */
}
.navbar-brand {
  font-family: 'Your Font', sans-serif; /* Replace 'Your Font' with your desired font */
  color: #fff; /* Text color */
}
.navbar-nav .nav-link {
  font-family: 'Your Font', sans-serif; /* Replace 'Your  Font' with your desired font */
  color: #fff; /* Text color */
}